/* id: ハッシュ */
/* class: カンマ */
/* class指定: カンマ ...指定したclass名を一つでも持っていれば適用 */
/* class指定: 続けて記載 ...1つのタグ内で指定したclass名を全て持っていれば適用 */
/* class指定: 半角スペース ...指定したclass名を親要素の順で絞り込んで適用 */

/* 読み込んでいることの確認 */
/* #seach_item_list {
    background-color: blue;
} */

/* 段落ごとに表示非表示をセット */
/* 指定したボタンをクリックすると指定した非表示の段落を表示 */
fieldset{
    display: none;
    /* background-color: red; */
}
ul, li{
    list-style-type: none;
}